<h2> Datos Empresa</h2>
<label>{{ message }}</label>
<button type="button" ng-click="cerrarSesion( )" class="btn btn-link"> Cerrar Sesión</button>

<div id="formEmpresas">
    <h3>Modifique Datos Empresa: </h3>
    <form id="RegistroEmpForm" action="#">
        <div class="form-group">
            <label for="nombreEmp">Nombre:</label>
            <input type="text" class="form-control" id="nombreEmp" required placeholder="Ingrese Nombre de Empresa" />
        </div>

        <div class="form-group">
            <label for="rutEmp">Rut:</label>
            <input type="text" class="form-control" id="rutEmp" required name="rutEmp" required placeholder="Ingrese RUT Empresa" />
        </div>

        <div class="form-group">
            <label for="passwordEmp">Contraseña:</label>
            <input type="text" class="form-control" id="passwordEmp" required placeholder="Ingrese Contraseña" />
        </div>

        <div class="form-group">
            <label for="direccionEmp">Dirección:</label>
            <input type="text" class="form-control" id="direccionEmp" required placeholder="Ingrese Direccion Empresa" />
        </div>
        <button type="submit" class="btn btn-primary" id="BtnEmpresa">Modificar</button>
    </form>
    <form id="RegistroEmpContForm" action="#">
        <h3>Modifique Datos de Contacto: </h3>

        <div class="form-group">
            <label for="rutCon">Rut:</label>
            <input type="text" class="form-control" id="rutCon" required name="rutCon" required placeholder="Ingrese RUT de Contacto"
            />
        </div>
        <div class="form-group">
            <label for="nombreCon">Nombre:</label>
            <input type="text" class="form-control" id="nombreCon" required placeholder="Ingrese Nombre de Contacto" />
        </div>
        <div class="form-group">
            <label for="emailCon">Email:</label>
            <input type="email" class="form-control" id="emailCon" required placeholder="Ingrese email de Contacto" />
        </div>
        <div class="form-group">
            <label for="telefonoCon">Telefono:</label>
            <input type="text" class="form-control" id="telefonoCon" required placeholder="Ingrese Telefono de Contacto" />
        </div>

        <button type="submit" class="btn btn-primary" id="BtnContacto">Modificar</button>
    </form>
</div>