<h2> Datos Cliente</h2>
<label>{{ message }}</label>
<button type="button" ng-click="cerrarSesion( )" class="btn btn-link"> Cerrar Sesión</button>
<div id="formParticular">
    <form id="RegistroCliForm" action="#">
        <h3>Modifique Datos: </h3>

        <div class="form-group">
            <label for="rut">Rut:</label>
            <input type="text" class="form-control" id="rut" required name="rut" placeholder="Ingrese RUT" />
        </div>

        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="text" class="form-control" id="password" required placeholder="Ingrese Contraseña" />
        </div>

        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" required placeholder="Ingrese Nombre" />
        </div>
        <div class="form-group">
            <label for="direccion">Dirección:</label>
            <input type="text" class="form-control" id="direccion" required placeholder="Ingrese Direccion" />
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" required placeholder="Ingrese email" />
        </div>
        <div class="form-group">
            <label for="telefono">Telefono:</label>
            <input type="text" class="form-control" id="telefono" required placeholder="Ingrese Telefono" />
        </div>

        <button type="submit" class="btn btn-primary" id="BtnParticular">Modificar</button>
    </form>
</div>