<h2> Ingreso de Resultados </h2>
<div>
    <label>{{ message }}</label>
    <button type="button" ng-click="cerrarSesion( )" class="btn btn-link"> Cerrar Sesión</button>
    <button type="button" ng-click="volver()" class="btn btn-link" id="BtnSalir">Volver</button>
</div>

<h3>Ingreso de Datos:</h3>
<div>
<form id="IngresarResulForm" ng-submit="IngresarResultados(fechaResult,PPM )">
    <div >
    <span class="Recepcion">
        <div class="form-group">
            <label> ID Resultado:               {{dato.id_resultado}}</label></br>
            <label> ID Tipo:                    {{dato.tipo_id}}</label></br>
            <label> Tipo de Analisis Examen:    {{dato.det_tipoanalisis}}</label></br>
            <label> Estado:                     {{dato.desc_estado}}</label></br>
            <label> Codigo Cliente:             {{dato.codigo_recepcion}}</label></br>
            <label> ID Recepcion:               {{dato.id_recepcion}}</label></br>
        </div>
    </span>
    <span class="Recepcion">
        <div class="form-group">
            <label for="fechaResult">Fecha Resultado:</label>
            <input type="date" ng-model="fechaResult" class="form-control" id="fechaResult" required />
        </div>
        <div class="form-group">
            <label for="PPM">Ingrese PPM (Particulas por Millon):</label>
            <input type="number" ng-model="PPM" class="form-control" id="PPM" required placeholder="Ingrese PPM"
            />
        </div>
        <button type="submit" class="btn btn-success" id="BtnGuardar">Guardar</button>
    </span>
</div>
</form>
</div>