<h2> Login </h2>
<label>{{ message }}</label>

<form>
    <label >Seleccione   : </label>
    <input type="radio" name="tipo" id="radParticular" ng-model="myVar" value="1"> Particular
    <input type="radio" name="tipo" id="radEmpresa" ng-model="myVar" value="2"> Empresa
    <input type="radio" name="tipo" id="radEmpleado" ng-model="myVar" value="3"> Empleados
</form>
<div ng-switch="myVar">
    <div id="formParticular" ng-switch-when="1">
        <form id="LoginCLiente"  ng-submit="LoadMainCliente( rut , password )">
            <h3>Ingrese Datos: </h3>

            <div class="form-group">
                <label for="rut">Rut:</label>
                <input type="text"  ng-model="rut" class="form-control" id="rut" required name="rut" placeholder="Ingrese RUT" />
            </div>

            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password"  ng-model="password" class="form-control" id="password" required placeholder="Ingrese Contraseña" />
            </div>

            <button type="submit" class="btn btn-primary" id="BtnParticular">Ingresar</button>
        </form>
    </div>

    <div id="formEmpresas" ng-switch-when="2">
            <form id="LoginEmpresa"  ng-submit="LoadMainEmpresa( rutEmp , passwordEmp )">
        <h3>Ingrese Datos Empresa: </h3>

        <div class="form-group">
            <label for="rutEmp">Rut:</label>
            <input type="text" ng-model="rutEmp" class="form-control" id="rutEmp" required name="rutEmp" placeholder="Ingrese RUT Empresa" />
        </div>

        <div class="form-group">
            <label for="passwordEmp">Contraseña:</label>
            <input type="password" ng-model="passwordEmp" class="form-control" id="passwordEmp" required placeholder="Ingrese Contraseña" />
        </div>

        <button type="submit" class="btn btn-primary" id="BtnEmpresa">Ingresar</button>

        </form>
    </div>


    <div id="formEmpleado" ng-switch-when="3">
            <form id="LoginEmpleado"  ng-submit="LoadMainEmpleado(rutEmple, passwordEmple)">
        <h3>Ingrese Datos Empleado: </h3>
        <div class="form-group">
            <label for="rutEmple">Rut:</label>
            <input type="text" ng-model="rutEmple" class="form-control" id="rutEmple" required name="rutEmple" placeholder="Ingrese RUT Empleado"
            />
        </div>
        <div class="form-group">
            <label for="passwordEmple">Contraseña:</label>
            <input type="password" ng-model="passwordEmple"  class="form-control" id="passwordEmple" required placeholder="Ingrese Contraseña" />
        </div>
        <button type="submit" class="btn btn-primary" id="BtnEmpleado">Ingresar</button>
        </form>
    </div>

</div>



