<h2>Bienvenidos - Portal de Laboratorio</h2>
<label>{{ message }}</label>
<div class="gallery">
    <a target="_blank" href="images/main1.png">
      <img src="images/main1.png" alt="Campaña SIDA" width="300" height="200">
    </a>
    <div class="desc">Campaña VIH SIDA</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="images/main2.png">
      <img src="images/main2.png" alt="CAMPAÑA DONANTES" width="300" height="200">
    </a>
    <div class="desc">Campaña Donantes</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="images/main3.png">
      <img src="images/main3.png" alt="CAMPAÑA INVIERNO" width="300" height="200">
    </a>
    <div class="desc">Campaña de invierno</div>
  </div>