<h2>Menu Recepcionista</h2>
<label>{{ message }}</label>
<button type="button" ng-click="cerrarSesion( )" class="btn btn-link"> Cerrar Sesión</button>

<div id="menu" class="menu">
    <div class="gallery" > 
        <img src="/images/recepcion.png" ng-click="LoadRecepcionMuestras( )" alt="recepcion Muestras" />
    </div>
    <div class="gallery">
        <img src="/images/listado.png" ng-click="LoadListadoMuestras( )" alt="Listado Muestras" />
    </div>   
</div> 