<h2>Menu Cliente Empresa</h2>
<label>{{ message }}</label>
<button type="button" ng-click="cerrarSesion( )" class="btn btn-link"> Cerrar Sesión</button>
<div id="menu" class="menu">
    <div class="gallery">
        <img src="/images/misdatos.png" ng-click="LoadModificar( )" alt="Mis Datos" />
    </div>
    <div class="gallery">
        <img src="/images/busqueda.png" ng-click="LoadBusquedaMuestras( )" alt="busqueda Muestras" />
    </div>
    <div class="gallery">
        <img src="/images/resultados.png" ng-click="LoadResultados( )" alt="Resultados" />
    </div>
</div>