<h2> Recepción de Muestras </h2>
<label>{{ message }}</label>
<button type="button" ng-click="cerrarSesion( )" class="btn btn-link"> Cerrar Sesión</button>
<button type="button" ng-click="volver()" class="btn btn-link" id="BtnSalir">Volver</button>
<form id="RegistroCliForm"  ng-submit="RecepcionarMuestra( codigoCli , fechaRecep, temperatura , cantidadMuestra , check1 , check2 , check3 , check4 , check5 )">
    <div>
        <div class="recepcion">

            <div class="form-group">
                <label for="codigoCli">Codigo Cliente</label>
                <input type="text" ng-model="codigoCli" class="form-control" id="codigoCli" required name="codigoCli" placeholder="Codigo Cliente" />
            </div>
            <div class="form-group">
                <label for="fechaRecep">Fecha Recepción:</label>
                <input type="date" ng-model="fechaRecep" class="form-control" id="fechaRecep" required />
            </div>
            <div class="form-group">
                <label for="temperatura">Temperatura Muestra:</label>
                <input type="number" ng-model="temperatura" class="form-control" id="temperatura" required placeholder="Ingrese Temperatura Muestra" />
            </div>
            <div class="form-group">
                <label for="cantidadMuestra">Cantidad de Muestras:</label>
                <input type="number" ng-model="cantidadMuestra"  class="form-control" id="cantidadMuestra" required placeholder="Ingrese Cantidad de Muestras" />
            </div>

        </div>
        <div class="recepcion" >

            <div class="form-group" >
                <label for="tipoAnalisis">Seleccione tipos de análisis a realizar:</label>
                <br/>
                <label>
                    <input type="checkbox" ng-checked="all" ng-model="check1" value="1"> 1- Micotoxinas</label>
                <br/>
                <label>
                    <input type="checkbox" ng-checked="all" ng-model="check2" value="2"> 2- Metales pesados</label>
                <br/>
                <label>
                    <input type="checkbox" ng-checked="all" ng-model="check3" value="3"> 3- Plaguicidas prohibidos</label>
                <br/>
                <label>
                    <input type="checkbox" ng-checked="all" ng-model="check4" value="4"> 4- Marea roja</label>
                <br/>
                <label>
                    <input type="checkbox" ng-checked="all" ng-model="check5" value="5"> 5- Bacterias nocivas</label>
                <br/>
                <button type="submit" class="btn btn-success" id="BtnGuardar">Guardar</button>
         
               
        </div>
    </div>   

</form>
