<h2> Registro de Nuevo Cliente </h2>
<label>{{ message }}</label>
<form>
    <label>Seleccione : </label>
    <input type="radio" name="tipo" id="radParticular" ng-model="myVar" value="1"> Particular
    <input type="radio" name="tipo" id="radEmpresa" ng-model="myVar" value="2"> Empresa
</form>

<div ng-switch="myVar">
    <div id="formParticular" ng-switch-when="1">
        <form name="RegistroCliForm" id="RegistroCliForm" ng-submit="IngresoParticular( rut , password , nombre , direccion , email , telefono )">
            <h3>Ingrese Datos: </h3>

            <div class="form-group">
                <label for="rut">Rut:</label>
                <input type="text" ng-model="rut" class="form-control" id="rut" required name="rut" placeholder="Ingrese RUT" />
            </div>

            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="text" ng-model="password" class="form-control" id="password" required placeholder="Ingrese Contraseña" />
            </div>

            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" ng-model="nombre" class="form-control" id="nombre" required placeholder="Ingrese Nombre" />
            </div>
            <div class="form-group">
                <label for="direccion">Dirección:</label>
                <input type="text" ng-model="direccion" class="form-control" id="direccion" required placeholder="Ingrese Direccion" />
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" ng-model="email" class="form-control" id="email" required placeholder="Ingrese email" />
            </div>
            <div class="form-group">
                <label for="telefono">Telefono:</label>
                <input type="text" ng-model="telefono" class="form-control" id="telefono" required placeholder="Ingrese Telefono" />
            </div>

            <button type="submit" class="btn btn-primary" id="BtnParticular">Guardar</button>
        </form>
    </div>

    <div id="formEmpresas" ng-switch-when="2">
        <form  name="RegistroEmpForm" id="RegistroEmpForm" ng-submit="IngresoEmpresa( nombreEmp , rutEmp , passwordEmp , direccionEmp , rutCon , nombreCon , emailCon , telefonoCon )">
            <h3>Ingrese Datos Empresa: </h3>

            <div class="form-group">
                <label for="nombreEmp">Nombre:</label>
                <input type="text" ng-model="nombreEmp" class="form-control" id="nombreEmp" required placeholder="Ingrese Nombre de Empresa" />
            </div>

            <div class="form-group">
                <label for="rutEmp">Rut:</label>
                <input type="text" ng-model="rutEmp" class="form-control" id="rutEmp" required name="rutEmp" required placeholder="Ingrese RUT Empresa" />
            </div>

            <div class="form-group">
                <label for="passwordEmp">Contraseña:</label>
                <input type="text" ng-model="passwordEmp" class="form-control" id="passwordEmp" required placeholder="Ingrese Contraseña" />
            </div>

            <div class="form-group">
                <label for="direccionEmp">Dirección:</label>
                <input type="text" ng-model="direccionEmp" class="form-control" id="direccionEmp" required placeholder="Ingrese Direccion Empresa" />
            </div>

            <h3>Ingrese Datos de Contacto: </h3>

            <div class="form-group">
                <label for="rutCon">Rut:</label>
                <input type="text" ng-model="rutCon" class="form-control" id="rutCon" required name="rutCon" required placeholder="Ingrese RUT de Contacto"
                />
            </div>
            <div class="form-group">
                <label for="nombreCon">Nombre:</label>
                <input type="text" ng-model="nombreCon" class="form-control" id="nombreCon" required placeholder="Ingrese Nombre de Contacto" />
            </div>
            <div class="form-group">
                <label for="emailCon">Email:</label>
                <input type="email" ng-model="emailCon" class="form-control" id="emailCon" required placeholder="Ingrese email de Contacto" />
            </div>
            <div class="form-group">
                <label for="telefonoCon">Telefono:</label>
                <input type="text" ng-model="telefonoCon" class="form-control" id="telefonoCon" required placeholder="Ingrese Telefono de Contacto" />
            </div>

            <button  type="submit" id="BtnEmpresa">Guardar</button>
        </form>

    </div>

</div>
