<h2> Registro de Resultados </h2>
<label>{{ message }}</label>
<button type="button" ng-click="cerrarSesion( )" class="btn btn-link"> Cerrar Sesión</button>
<button type="button" ng-click="volver()" class="btn btn-link" id="BtnSalir">Volver</button>
<div>
<form id="FiltrarMuestras">

        <label for="CodigoCliente">Ingrese Codigo de Cliente para filtrar Resultados:</label>
        
        <input type="text" ng-model="CodigoCliente" class="form-control" id="CodigoCliente" required placeholder="Ingrese Codigo Cliente" />
        <button type="submit"  ng-click="filtrarMuestras( CodigoCliente )"  class="btn btn-primary" id="BtnBuscar">filtrar</button>
</form>
</div>


<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID_Resultado</th>
                <th>ID Tipo</th>
                <th>Tipo Analisis</th>
                <th>ESTADO</th>
                <th>Codigo Cliente</th>
                <th>ID Recepcion</th>
                <th>Boton</th>
            </tr>
        </thead>

     

        <tbody ng-repeat="dato in muestra">
            <tr>
                <td>
                    <label>{{dato.id_resultado}}</label> 
                </td>
                <td>
                    <label>{{dato.tipo_id}}</label> 
                </td>
                <td>
                    <label>{{dato.det_tipoanalisis}}</label> 
                </td>
                <td>
                    <label>{{dato.desc_estado}}</label> 
                </td>
                <td>
                    <label>{{dato.codigo_recepcion}}</label> 
                </td>
                <td>
                    <label>{{dato.id_recepcion}}</label> 
                </td>
                <td>
                    <button type="button" ng-click="AgregarResultado( dato )" class="btn btn-primary">Ingresar Resultado</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>