<h2>Resultados</h2>
<label>{{ message }}</label>
<h3>Codigo Cliente : {{ dato.codigo_recepcion }} </h3>
<div>
  <div class="recepcion">
    <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels">
    </canvas>
  </div>
  <div class="recepcion">
    <canvas id="base" class="chart-bar" chart-data="data" chart-labels="labels" chart-dataset-override="datasetOverride">
    </canvas>
  </div>
</div>
<div>
    <h3>Resultado de Muestra Nro {{ dato.id_recepcion }} </h3>

  </div>
  
<div class="recepcion">

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID_Resultado</th>
          <th>Tipo Analisis</th>
          <th>ESTADO</th>
          <th>PPM_Resultado</th>
        </tr>
      </thead>



      <tbody ng-repeat="dato in muestras">
        <tr>
          <td>
            <label>{{dato.id_resultado}}</label>
          </td>
          <td>
            <label>{{dato.det_tipoanalisis}}</label>
          </td>
          <td>
            <label>{{dato.desc_estado}}</label>
          </td>
          <td>
            <label>{{dato.PPM_resultado}}</label>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>